<%= simple_form_for @clause do |f| %>
<div class="container-fluid px-6">
 <div class="table-responsive">
    <table class="table-striped table borderless">
       <thead>
         <tr>
           <th>Parent</th>
           <th>Title</th>
           <th>Wording</th>
           <th class="adjust-width">Clause ID</th>
           <th>Actions</th>
         </tr>
       </thead>

       <tbody>



        <tbody>
    <%= simple_form_for @clause, url: clauses_path, :method => :patch do |f| %>
     <tr>
      <td>
        <%= f.input :cp_form,
        input_html: {class: ""},
        label: "CP-Form",
        required: true %>
      </td>

      <td>
        <div class="row">
          <div class="col">
        <%= f.input :title,
        input_html: {class: ""},
        label: 'Title',
        required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col">
           <%= f.input :paragraph,
        input_html: {class: ""},
        label: 'Paragraph',
        required: true %>
        </div>
        </div>
            </div>
        </td>
      <td>
        <%= f.input :wording,
        input_html: {class: "form-control custom-box"},
        label: 'wording',
        required: true %>
      </td>
      <td>
        <div class="id-positioning">
        <%= @clause.id %>
      </div>
    </td>
     <td>
            <%= f.button :button, class: "btn btn-primary btn-curious-blue button-positioning" do %>
                Submit Amendment
            <% end %>
        </td>

      </tr>
       <% end %>
     </tbody>
    </table>
  </div>
</div>
 <% end %>

