<div class="container-fluid px-6">

  <h2 class="mt-5 mb-3">Clause Details</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Parent</th>
        <th>Title</th>
        <th>Wording</th>
        <th>Chronos ID</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= simple_form_for @clause, url: clauses_path, :method => :post do |f| %>
        <div class="row">
          <tr>
            <div class="col-xs-12 col-sm-2">
              <td>
                <%= f.input :cp_form,
                            input_html: {class: "form-control"},
                            label: false,
                            required: true %>
              </td>
            </div>

            <div class="col-xs-12 col-sm-2">
              <td>
                <%= f.input :title,
                            input_html: {class: "form-control"},
                            label: false,
                            required: true %>
              </td>
              <td>
                <%= f.input :paragraph,
                             input_html: {class: "form-control"},
                             label: false,
                             required: true %>
              </td>
            </div>

            <div class="col-xs-12 col-sm-2">
              <td>
                <%= f.input :wording,
                            input_html: {class: "form-control custom-box"},
                            label: false,
                            required: true %>
              </td>
              <td>
                <div class="id-positioning">
                  1
              </td>
            </div>

            <div class="col-xs-12 col-sm-2">
              <td>
                <%= f.input :id,
                            input_html: {class: "form-control custom-box"},
                            label: false,
                            required: true %>
              </td>
            </div>

            <div class="col-xs-12 col-sm-2">
              <td>
                <%= f.button :button, class: "btn btn-primary btn-curious-blue button-positioning" do %>
                  Submit Single Clause
                <% end %>
              </td>
            </div>
          </tr>
        </div>
      <% end %>
    </tbody>
  </table>
</div>




<div class="container-fluid px-6">

<div class="table-responsive">
 <table class="table-striped table borderless">

   <thead>
         <tr>
           <th>Parent</th>
           <th>Title</th>
           <th>Wording</th>
           <th class="adjust-width">Chronos ID</th>
           <th>Actions</th>
         </tr>
       </thead>

   <tbody>
    <%= simple_form_for @clause, url: clauses_path, :method => :post do |f| %>
     <tr>
      <td>
        <%= f.input :cp_form,
        input_html: {class: ""},
        label: "CP-Form",
        required: true %>
      </td>

      <td>
        <div class="row">
          <div class="col">
        <%= f.input :title,
        input_html: {class: ""},
        label: 'Title',
        required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col">
           <%= f.input :paragraph,
        input_html: {class: ""},
        label: 'Paragraph',
        required: true %>
        </div>
        </div>
            </div>
        </td>
      <td>
        <%= f.input :wording,
        input_html: {class: "form-control custom-box"},
        label: 'wording',
        required: true %>
      </td>
      <td>
        <div class="id-positioning">
        1
      </div>
    </td>
      <td>
          <%= f.button :button, class: "btn btn-primary btn-curious-blue button-positioning" do %>
            Submit Single Clause
          <% end %>
    </td>
  </tr>
  <% end %>



</tbody>
</table>
</div>
</div>
