<%= simple_form_for cargo, remote: true, url: fixture_path, html: { method: :patch, id: :update_fixture } do |f| %>

  <div class="row" id="loading">
    <div class="col col1">
      <%= f.input :load_port,
                    input_html: {readonly: true, class: "form-control-sm edit-input"},
                    label: "Port",
                    required: true %>
    </div>
    <div class="col col2">
      <%= f.input :load_terminal,
                    input_html: {readonly: true, class: "form-control-sm edit-input"},
                    label: "Terminal",
                    required: true %>
    </div>
    <div class="col col3">
      <%= f.input :load_berth,
                    input_html: {readonly: true, class: "form-control-sm edit-input"},
                    label: "Berth",
                    required: true %>
    </div>
    <div class="col col4">
      <%= f.input :obl,
                    input_html: {readonly: true, class: "form-control-sm edit-input"},
                    label: "Obl",
                    required: true %>
    </div>
    <div class="col col5">
      <%= f.input :name,
                    input_html: {readonly: true, class: "form-control-sm edit-input"},
                    label: "Name",
                    required: true %>
    </div>
    <div class="col col6">
      <%= f.input :quantity_mts,
                    input_html: {readonly: true, class: "form-control-sm edit-input"},
                    label: "Qty - Mts",
                    required: true %>
    </div>
  </div>

<% end %>
