  <div class="row" id="loading">
          <div class="col col1">
                  <%= f.input :load_port,
                              input_html: {class: ""},
                              label: "Port",
                              label_html: {class: ""},
                              required: true %>
          </div>
          <div class="col col2">
                  <%= f.input :load_terminal,
                              input_html: {class: ""},
                              label: "Terminal",
                              label_html: {class: ""},
                              required: true %>
          </div>
          <div class="col col3">
                  <%= f.input :load_berth,
                              input_html: {class: ""},
                              label: "Berth",
                              required: true %>
          </div>
          <div class="col col4">
                  <%= f.input :name,
                              input_html: {class: ""},
                              label: "Name",
                              required: true %>
          </div>
          <div class="col col5">
                  <%= f.input :quantity_mts,
                              input_html: {class: ""},
                              label: "Qty - Mts",
                              required: true %>
          </div>
  </div>

  <div class="row" id="discharge">
          <div class="col col1">
                  <%= f.input :disch_port,
                              input_html: {class: ""},
                              label: "Port",
                              label_html: {class: ""},
                              required: true %>

          </div>
          <div class="col col2">
                  <%= f.input :disch_terminal,
                              input_html: {class: ""},
                              label: "Terminal",
                              label_html: {class: ""},
                              required: true %>

          </div>
          <div class="col col3">
                  <%= f.input :disch_berth,
                              input_html: {class: ""},
                              label: "Berth",
                              required: true %>
          </div>
          <div class="col col4">
                  <%= f.input :disch_name, as: :fake,
                              input_html: {value: 'pending model update', class: ""},
                              label: "Name",
                              required: true %>
          </div>
          <div class="col col5">
                  <%= f.input :disch_quantity_mts, as: :fake,
                              input_html: {value: 'pending model update', class: ""},
                              label: "Qty - Mts",
                              required: true %>
          </div>
  </div>
