<div class="form-group">
        <%= f.input :name,
                    input_html: {class: ""},
                    label: "Name",
                    required: true %>
        <%= f.input :quantity_mts,
                    input_html: {class: ""},
                    label: 'Qty - Mts',
                    required: true %>
        <%= f.input :load_port,
                    input_html: {class: ""},
                    label: "Port",
                    label_html: {class: ""},
                    required: true %>
        <%= f.input :load_terminal,
                    input_html: {class: ""},
                    label: "Terminal",
                    label_html: {class: ""},
                    required: true %>
        <%= f.input :load_berth,
                    input_html: {class: ""},
                    label: "Birth",
                    required: true %>
        <%= f.input :disch_port,
                    input_html: {class: ""},
                    label: "Port",
                    label_html: {class: ""},
                    required: true %>
        <%= f.input :disch_terminal,
                    input_html: {class: ""},
                    label: "Terminal",
                    label_html: {class: ""},
                    required: true %>
        <%= f.input :disch_berth,
                    input_html: {class: ""},
                    label: "Berth",
                    required: true %>
</div>