<div class="new-fixture__form">
  <h2>Enter fixture</h2>
  <%= simple_form_for :fixture, url: fixtures_path, :method => :post do |f| %>
    <%= f.error_notification %>
    <div class="form-group">
        <%= f.input :vessel_name,
                    input_html: {class: ""},
                    label: "Vessel Name",
                    required: true %>
        <%= f.input :charterer,
                    input_html: {class: ""},
                    label: 'Charterer',
                    required: true %>
        <%= f.input :voyage_number,
                    input_html: {class: ""},
                    label: "Voyage Number",
                    label_html: {class: ""},
                    required: true %>
        <%= f.input :demurrage_rate,
                    input_html: {class: ""},
                    label: "Demurrage Rate",
                    label_html: {class: ""},
                    required: true %>
        <%= f.input :allowed_laytime,
                     input_html: {class: ""},
                     label: "Allowed Laytime",
                     required: true %>
        <%= f.input :clause_group_id,
                    input_html: {class: ""},
                    label: "Clause Group ID",
                    required: true %>
        <%= f.button :button, class: "btn btn-primary" do %>
           Post listing
        <% end %>
    </div>
  <% end %>
</div>