<div class="container-fluid px-6">
  <div class="new-fixture__form">
    <!-- Form for view Fixture -->
    <h2 class="mt-5 mb-3">Fixture Details</h2>

    <%= simple_form_for @fixture, remote: true, url: fixture_path, html: { method: :patch, id: :update_fixture } do |f| %>

      <div class="btn btn-default toggle mt-3 mb-3" data-toggle="modal" data-target="#show_fixture_modal">
        <div class="slide">
          <i class="fas fa-circle"></i>
        </div>
      </div>

      <div class="row">
        <div class='col-md-2'>
          <%= f.input :reference_no,
                        input_html: {readonly: true, class: "form-control-sm edit-input"},
                        label: "Reference No.",
                        required: true %>
        </div>
        <div class="col-md-2">
          <%= f.input :voyage_number,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Voyage No.",
                      label_html: {class: ""},
                      required: true %>
        </div>
        <div class="col-md-3">
          <%= f.input :clause_group, as: :fake,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "CP Form*",
                      required: true %>
        </div>
      </div>

      <div class="row">
        <div class='col-md-2'>
          <%= f.input :vessel_name,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Vessel Name",
                      required: true %>
        </div>
        <div class="col-md-2">
          <%= f.input :charterer,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Charterer",
                      required: true %>
        </div>

        <div class="col-md-3">
          <%= f.input :contract_type, as: :fake,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Contract Type*",
                      label_html: {class: ""},
                      required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= f.input :vessel_dwt, as: :fake,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Vessel DWT*",
                      label_html: {class: ""},
                      required: false %>
        </div>
        <div class="col-md-2">
          <%= f.input :demurrage_rate,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Demurrage Rate",
                      label_html: {class: ""},
                      required: false %>
        </div>
        <div class="col-md-3">
          <%= f.input :contract_terms, as: :fake,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Contract Terms*",
                      label_html: {class: ""},
                      required: false %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <%= f.input :total_cargo_qty, as: :fake,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Total Cargo Qty*",
                      required: false %>
        </div>
        <div class="col-md-2">
          <%= f.input :allowed_laytime,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Allowed Laytime",
                      required: false %>
        </div>
        <div class="col-md-3">
          <%= f.input :reversable, as: :fake,
                      input_html: {readonly: true, class: "form-control-sm edit-input"},
                      label: "Reversable / Not Reversable*",
                      required: false %>
        </div>
      </div>



<!--       <div class="modal fade" id="show_fixture_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content home-modal">
            <div class="modal-body">
              Is all your updated data correct?
            </div>
            <div class="modal-footer">
              <%= f.button :button, "No, go back", type: "reset", class: "btn-outline-secondary" %>
              <%= f.button :submit, "Yes, please save", class: "btn-primary" %>
            </div>
          </div>
        </div>
      </div> -->


    <hr />

      <%# Loading and Discharge sub-headers  %>
      <div class="fixture-view__loading">   <%# JavaScript uses this class to append new loading entries %>
        <h2 class="mt-3 mb-3">Loading</h2>
      </div>

      <div class="fixture-view__discharge"> <%# JavaScript uses this class to append new discharge entries %>
        <h2 class="mt-3 mb-3">Discharge</h2>
      </div>

        <%# Add additional FixtureCargo fields for user input  %>
        <%# partial _fixture_cargo_fields is appended to       %>
        <%# div.new-fixture__add-cargos and dynamically moved  %>
        <%# to the Loading/Discharge header                    %>
        <div class="new-fixture__add-cargos"> <%# JavaScript uses this class to append new cargo entries %>
      <%= f.simple_fields_for :fixture_cargos do |builder| %>
        <%= render "fixture_cargo_fields", f: builder, page_view: 'show' %>
      <% end %>
        </div>
      <% end %>
  </div>
</div>
