<div class="container-fluid px-6">
  <div class="voy-details">
    <h2 class="mt-5 mb-3">Voyage Details</h2>
    
  <div class="events__fixture-details">
    <%= simple_form_for @fixture, html: { class: 'super-edit-power mt-5' } do |ff| %>
    <%= render 'events_fixture_fields', f: ff %>
    <% end %>
  </div>

    <%# <div class="svg-wrapper"> %>
      <%# <svg height="60" width="320" xmlns="http://www.w3.org/2000/svg"> %>
        <%# <rect class="shape" height="60" width="320" /> %>
      <%# </svg> %>
       <%# <div class="text">Run Chronos</div> %>
    <%# </div> %>

    <div class="import-file mt-3 mb-5">
     <%= form_tag import_fixture_events_path, multipart: true do %>
     <span class="btn btn-large btn-primary btn-file">
       <%= file_field_tag :file,
                           input_html: {class: "input-file-field"} %>
       <%= submit_tag 'Upload SOF', class: "btn btn-success" %>
       <% end %>
      </span>
    </div>

  </div>
  <div class="events-tables">
    <% unless @port_events.nil? %>
      <% @port_events.each do |port, terminals| %>
        <%= render "events_table", port: port, terminals: terminals %>
      <% end %>
    <% end %>
  </div>

  <div class="demurrage-summary">
    <h2 class="mt-5 mb-3">Summary</h2>
    
  <div class="row">
  <div class="col-md-6">
    <div class="summary-table">
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="col-md-3">port</th>
            <th class="col-md-3">laytime used</th>
            <th class="col-md-3">laytime allowed</th>
            <th class="col-md-3">hours on demurrage</th>
          </tr>
        </thead>
        <tbody>
          <% @laytime_summary.each do |port, mins| %>
            <%= render "summary_row", port: port, mins: mins %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  </div>

      
    <div class="row">
      <div class="col-md-6">
        <div class="demurrage-sum">
          <div class="demurrage-rate mt-1">
            <h5>Demurrage rate</h5>
            <h5 class="double-underline">$ <%= number_with_precision(@fixture.demurrage_rate, precision: 2, delimiter: ',') %></h5>
          </div>
        <div class="demurrage-rate mt-3">
          <h4>Invoice amount</h4>
          <h4>$ <%= number_with_precision(@fixture.total_demurrage, precision: 2, delimiter: ',') %></h4>
        </div>
      </div>
    </div>

  </div>
</div>
